.Rproj.user
.Rhistory
.RData
.Ruserdata
ows.RData
ows_all_v2.csv
pbears.RData
Land.csv
all.RData
ows_land.RData
usgs_pbear_gps_ccde16_v20170131.csv
swim.csv
ows_land.csv
pb_traj_df.RData
fix_intervals.csv
